html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body{
    min-width:1000px;
    font-family: Arial,Helvetica,Gill,sans-serif;
    font-size:14px;
    line-height:1.6;
    color:#303030;
}

#layout_header{
    border-bottom:2px solid #3BAAE3;
    text-align:center;
    margin-bottom:10px;
}
#layout_left{
    width:155px;
    padding:0 10px 0 5px;
    height:100%;
    float:left;
}
#layout_right{
    width:825px;
    float:left;
}
#layout_login{
    width:300px;
    margin:20px auto;
}
#layout_login .ui-widget-content{
    padding:3px 3px 10px 3px;
}
#layout_login .ui-widget-header{
    padding:2px 5px;
    margin-bottom:10px;
}
#layout_login .submit-field{
    padding-top:5px;
}
#layout_login dt{
    padding-left:10px;
    padding-right:5px;
}
#layout_login input.text{
    width:97%;
}
.floatkiller{
    width:1px;
    height:1px;
    overflow:hidden;
    line-height:1px;
    font-size:1px;
    border:0;
    margin:0;
    padding:0;
}
.dialog, .page{
    display:none;
}
#menu {
    padding:4px;
}
ul.menu_submenu, ul.menu_submenu li{
    display:block;
    margin:0 0 1px 0;
    padding:0;
    list-style:none;
}
#menu li a{
    display:block;
    padding:1px 3px 1px 20px;
    text-decoration:none;
    border-radius:4px;
    border:1px solid transparent;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
#menu li a:hover{
    background:#DEEDF7;
}
#menu li a.active{
    border:1px solid #AED0EA;
    background:#DEEDF7;
}
.ui-button {
    margin:10px 0;
}
.contentpart table{
    margin:10px 0;
}
.contentpart form{
    margin:10px 0;
}
.contentpart h2{
    font-size:16px;
}
.contentpart h3{
    margin-top: 8px;
}
.contentpart table{
    width:100%;
    border:1px solid #DEEDF7;
}
.contentpart thead{
    border-bottom:1px solid #DEEDF7;
}
.contentpart th{
    text-align:left;
    padding:1px 5px;
}
.contentpart td{
    padding:1px 5px;
    border-bottom:1px solid #DEEDF7;
}
.contentpart p.intro{
    margin:5px 0 15px 0;
    padding:0 0 0 10px;
    border:1px solid #DEEDF7;
    border-width:0 0 0 5px;
}
form dl dt, dl.form dt{
    float:left;
    clear:left;
    width:30%;
    padding-right:5px;
    border-top:1px solid #DEEDF7;
}
form dl dt.noborder, dl.form dt.noborder{
    border-top: 0;
}
form dl dt, dl.form dt{
    padding-left:24px;
}
form dl dd, dl.form dd{
    float:left;
    width:60%;
    padding-left:5px;
}
form dl dd dl.form_sub, dl.form dd dl.form_sub{
    float:left;
    width:100%;
    background:#DEEDF7;
    padding:2px 5px;
    margin-bottom:3px;
}
form dl dd dl dt, dl.form dd dl dt{
    border:0;
}
form dl.form_sub dt, dl.form dl.form_sub dt {
    width: 38%;
}
form dl.form_sub dd, dl.form dl.form_sub dd {
    width: 54%;
}
.warning {
    border:1px dashed #ad6e14;
    background:#f1ffa6 url(../images/icons/war_32.png) no-repeat 5px 5px;
    padding:0 4px 6px 50px;
    margin:10px 0;
    line-height:1.3;
}
.warning h3 {
    color:#ad6e14;
}
.note{
    border: 1px solid #11257d;
    background: #B2BFFF url(../images/icons/info_32.png) no-repeat 5px 5px;
    padding: 0 4px 6px 50px;
    margin:10px 0;
    line-height:1.3;
    min-height: 30px;
}
.warning ul, .note ul {
    margin:4px 0;
}
.warning ul li, .note ul li {
    list-style:disc;
    padding-left:5px
}
.form-error {
    display: none;
    border:1px solid #ad1414;
    background: #FFE5E5 url(../images/icons/stop_32.png) no-repeat 5px 5px;
    padding: 0 4px 6px 50px;
    margin:10px 0;
    line-height:1.3;
}
.formfield-error {
    border:2px solid #ad1414;
    background-color: #f5d2d2;
}
.form-error h3 {
    color: #ad1414;
}
.open_all_help {
    background:url(../images/icons/help2.png) no-repeat center center;
    display:block;
    height:24px;
    width:24px;
    float:left;
    margin-left:-24px;
    cursor: pointer;
}
.open_help{
    background:url(../images/icons/help.png) no-repeat center center;
    display:block;
    height:24px;
    width:24px;
    float:left;
    margin-left:-24px;
    cursor: pointer;
}
.help_pool {
    position:absolute;
    display: none;
}
.help {
    display:none;
    position: relative;
    border:1px solid #114e7d;
    background:#a6cbf1 url(../images/icons/help_32.png) no-repeat 5px 5px;
    padding:7px 5px 7px 50px;
    line-height:1.3;
    margin: 10px 0 3px 0px;
    clear: both;
}
.help_hover {
    display:none;
    width:500px;
    position:absolute;
    border:1px solid #114e7d;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#a6cbf1 url(../images/icons/help_32.png) no-repeat 5px 5px;
    padding:7px 5px 7px 50px;
    margin:5px 0;
    line-height:1.3;
    z-index: 1005;
}
.help_anchor {
    padding-left: 16px;
}

.release-changelog pre, .interface_status, .parse-error-output, .log-file {
    display: block;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 10px;
    color: black;
    background-color: white;
    border: 2px solid #DEEDF7;
}
.parse-error-output {
    border: 2px solid #ad1414;
}
#status_system_download {
    display: none;
}
#system_update_auto_warning, #system_update_auto_no_update, #system_update_auto_form {
    display: none;
}

div.ajax-form-loader {
    position: absolute;
    display: none;
    background: #DEEDF7;
    height: 32px;
    width: 120px;
    padding: 4px;
    border: 3px solid #3BAAE3;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    line-height: 32px;
}

div.ajax-form-loader img {
    float: left;
    margin-right: 5px
}