generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Mode3Certificate
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              mode3certificate
    plural:                mode3certificates
    route_prefix:          mode3_certificate
    with_doctrine_route:   true
    actions_base_class:    sfActions
    css:                   admin-gen   #setting the css to a placeholder

    config:
      actions:
        _new: { label: "Create a new mode 3 device VPN certificate" }
      fields:  ~
      list:
        title: List of mode 3 VPN device certificates
        display: [id, _mode3, _device]
      filter:  ~
      form:    ~
      edit:
        title: Edit mode 3 device VPN certificate
      new:
        title: Create mode 3 device VPN certificate
