generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Device
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              device
    plural:                devices
    route_prefix:          device
    with_doctrine_route:   true
    actions_base_class:    sfActions
    css:                   admin-gen   #setting the css to a placeholder

    config:
      actions:
        _new: { label: "Create a new device" }
      fields:  ~
      list:
        title:    List of Devices
        display:  [id, =name, _config]
      filter:  ~
      form:    ~
      edit:    ~
      new:     ~
